    {
      "name": "net.atos~community~${communityVersion}",
      "config": {
        "main" : "net.atos.entng.community.Community",
        "port" : 8078,
        "mongodb" : true,
        "app-name" : "Community",
        "app-address" : "/community",
        "frontend-ui" : "angular",
        "app-icon" : "community-large",
        "app-type" : "END_USER",
        "host": "${host}",
        "ssl" : $ssl,
        "auto-redeploy": false,
        "userbook-host": "${host}",
        "mode" : "${mode}"
      }
    }
